/*===== COLORS =====*/
/* #4d4954 */
/* #ffe5db */

/* ===== FONTS ===== */
/* font-family: 'Quicksand', sans-serif; */

@font-face {
  font-family: "quicksand-bold";
  src: url("/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: "quicksand-regular";
  src: url("/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "quicksand-light";
  src: url("/fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: "quicksand-medium";
  src: url("/fonts/Quicksand-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "quicksand-regular", sans-serif;
}

.fl-r {
  float: right;
}

/* ===== HEADER ===== */
.navBar {
  width: 100%;
  height: 75px;
  background-color: #4d4954;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #ffe5db;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#navMenu {
  width: 45px;
  height: 45px;
  font-size: 32px;
  border: 1px solid #ffe5db;
  margin-top: 12.5px;
  margin-left: 12.5px;
  color: #ffe5db;
  border-radius: 5px;
  padding: 2px 5px 5px 8px;
}

#shoppingCart {
  width: 45px;
  height: 45px;
  font-size: 27px;
  border: 1px solid #ffe5db;
  margin-top: 12.5px;
  margin-right: 12.5px;
  color: #ffe5db;
  border-radius: 5px;
  padding: 5px;
  padding-left: 5px;
  padding-top: 6px;
}

.logo {
  width: 300px;
  height: 300px;
  /* background-color: #4d4954;
    border-radius: 50%; */
  position: relative;
  top: -131px;
  padding-top: 145px;
}

.logo>img {
  margin: auto;
  height: 140px;
  display: block;
}

/* ===== END HEADER ===== */

/* ===== MENU ===== */

#menu {
  position: fixed;
  top: 75px;
  height: 100vh;
  width: 219px;
  left: -220px;
  background-color: #4d4954;
  z-index: 999;
}

#menu>ul>li {
  color: #ffe5db;
  text-decoration: none;
  padding: 5px;
  padding-left: 15px;
  text-decoration: none;
}

#menu>ul>li:nth-child(1) {
  color: #ffe5db;
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid #ffe5db;
  padding-top: 20px;
  font-size: 18px;
}

#menu>ul>li:nth-child(6) {
  color: #ffe5db;
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid #ffe5db;
  padding-top: 20px;
  font-size: 18px;
}

#menu>ul>li>a {
  color: #ffe5db;
  text-decoration: none;
}

.searchBar {
  position: absolute;
  left: 170px;
  top: 50vh;
  width: 90px;
  height: 90px;
  background-color: #4d4954;
  color: #ffe5db;
  border-radius: 50%;
  font-size: 26px;
  padding: 30px 0 0 50px;
}

.searchBar>i {
  transform: rotate(80deg);
}

/* ===== END MENU ===== */

/* ===== SHOPPING CARD ===== */

#shoping-card {
  width: 299px;
  height: 100vh;
  background-color: #4d4954;
  position: fixed;
  right: -300px;
  top: 75px;
  z-index: 999;
}

#shoping-card>h3 {
  padding: 15px 0 15px 15px;
  font-size: 26px;
  color: #ffe5db;
  border-bottom: 2px solid #ffe5db;
}

#total {
  color: #ffe5db;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  border-top: 1px solid #ffe5db;
  /* border-bottom: 1px solid #ffe5db; */
}

.buy-now {
  position: relative;
  left: 15px;
}

.btn {
  width: 265px;
  height: 50px;
  background-color: #4d4954;
  color: #ffe5db;
  border-radius: 5px;
  font-size: 16px;
}

.btn:hover {
  transition-duration: 1s;
  background-color: #ffe5db;
  color: #4d4954;
}

.shopping-card-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
}

.shopping-card-container>li {
  list-style: none;
}

/* ===== END SHOPPING CARD ====== */

/* ===== CONTAINER ===== */

.container {
  padding: 160px 50px 50px 50px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ===== CARDS ===== */

.card {
  position: relative;
  width: 200px;
  height: 300px;
  /* border: 2px solid #4d4954; */
  margin: 15px 15px;
  background-color: #4d4954;
  border-radius: 5px;
  box-shadow: 0 10px 10px #4d4954;
}

.article-name {
  font-family: quicksand-medium;
  padding: 10px 10px;
  font-size: 20px;
  color: #ffe5db;
}

.image-small {
  width: 200px;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.article-price {
  padding: 20px 10px 0 10px;
  color: #ffe5db;
}

/* BTN CARDS */
.btn-card {
  background-color: #4d4954;
  color: #ffe5db;
  border-radius: 5px;
  font-size: 12px;
  width: 75px;
  height: 25px;
  font-family: quicksand-light;
}

.btn-card:hover {
  transition-duration: 1s;
  background-color: #ffe5db;
  color: #4d4954;
}

.btn-add {
  position: absolute;
  width: 50px;
  height: 30px;
  font-size: 17px;
  right: 10px;
  bottom: 10px;
  font-size: 18px;

}


.details {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ffe5db;
  border-radius: 50%;
  border: 1px solid #ffe5db;

}


#btn-details {
  padding: 7px;
}

/* ===== END CONTAINER ===== */

/* ===== SHOPPING CART ===== */
.cart-li {
  width: 100%;
  height: 100px;
  display: flex;
  color: #ffe5db;
}

.cart-img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin: 10px;
}

.input-num {
  margin: 0 5px;
}

.cart-name-num-container {
  margin: 10px;
}

.cart-name {
  font-size: 19px;
  width: 170px;
}

.cart-price-cost {
  margin-top: 30px;
  font-size: 18px;
}

/* ===== END SHOPPING CART ===== */

/* ===== DETAILS ===== */

.details-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  left: 0;
  top: 0;
}

.details-cart {
  width: 80%;
  /* height: 80%; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #fff;
  border-radius: 10px;
}

.detals-img {
  width: 100%;
}

.col6 {
  padding: 20px;
  width: 50%;
}

.details-font {
  font-size: 19px;
  color: #4d4954;
}

.details-font>div {
  margin-bottom: 10px;
}

.details-font>div>span {
  font-family: "quicksand-medium";
  font-size: 20px;
}

.details-price {
  margin-top: 25px;
  font-size: 22px;
  font-family: "quicksand-medium";
}


.details-add-btn {
  width: 100%;
}



#btn-remove-details {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 26px;
  color: #4d4954;
}

/* ===== END DETAILS ===== */


/* ===== SUCCES ===== */

.successAdd {
  background-color: #2bb673;
}